{# src/ARPCCoreBundle/Resources/views/ContactWay/show.html.twig #}

<div class="panel panel-green">
    <div class="panel-heading">
        {{ contactWay.type }}
    </div>
    <div class="panel-body">
        {{ contactWay.label }}
    </div>
</div>