{# src/ARPCCoreBundle/Resources/views/ContactWay/show.html.twig #}

<div class="panel panel-green">
    <div class="panel-body">
        {% if contactWay.type == "mail" %}
            <a href="{{ path('mail_send', {'mail' : contactWay.label}) }}"> <img src="{{ asset('png/mail.png') }}" alt="Send mail" /></a>
        {% endif %}
        {% if contactWay.type == "phone" %}
            <a href=""> <img src="{{ asset('png/phone.png') }}" alt="Send sms" /></a>
        {% endif %}
        {{ contactWay.label }}
    </div>
</div>